.cardDetailContainer{
    padding: 0 70px 10px 70px;
}
.cardDetalladoItem {
    display: flex;
    background-color: rgba(217, 230, 102, 0.548);
}
.imgDetail {
    margin-left: 20%;
    width: 100% ;
}
.card-title {
    font-size: x-large;
    margin: 10px;
}
.card-text {
    margin: 15px;
    width: 50%;
}
.card-important {
    margin: 15px; 
}