.container-fluid {
   display: flex;
   justify-content: center;
   padding: 10px;
}

.subTitle{
    margin-left: 5px;
}
.cartWidget {
    margin-right: 5px;
}
.containerSets {
    margin: 5px;
    display: flex;
}
.cardSet {
    margin: 5px;
}
h1{
    display: flex;
    justify-content: center;
}