.container-fluid {
   display: flex;
   justify-content: center;
   padding: 10px;
}

.subTitle{
    margin-left: 5px;
}
.cartWidget {
    margin-right: 5px;
}
.containerIlist {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}
