@media only screen and (max-width: 993px){
    .navbar-brand-icon {
        display: none;
    }
    .navbar {
        display: flex;
    }
}

.navbar, button{
    background-color: rgba(172, 179, 112, 0.932);
}
.navbar{
    height: auto;
}
.navbar-brand-icon {
    
}
.Option {
    text-decoration: none;
    margin: 0 50px;
    width: auto;
    padding: 12px;
    background-color: rgba(195, 207, 79, 0.541);
    flex: none;
    display: flex;
    order: 1;
    align-items: center;
    flex-grow: 0;
    justify-content: center;
    color: bisque;
    border: none;
    cursor: pointer;
    outline: inherit;

}

.ActiveOption {
    text-decoration: none;
    border-radius: 2;
    margin: 0 50px;
    width: auto;
    padding: 12px;
    font-size: 15px;
    background-color: rgb(156, 218, 132);
    flex: none;
    display: flex;
    order: 1;
    align-self: center;
    flex-grow: 0;
    color: rgb(255, 255, 255);
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
}
.navbar-toggler {
    margin: 15px;
}
.nav-item{
    margin: 10px;
}

.container-fluid{
    height: 75px;
}

.divLogo{
    width: 1px;
}

.iconNav img {
    width: 150px;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    position: relative;
    color: wheat
}
.cartWidget {
    padding-right: 20px;
}
