@media only screen and (max-width: 600px) {
    body {
      background-color: rgb(212, 214, 176);
    }
    .containerSets {
       display: flex;
       flex-direction: column;
    }
  }
  body {
    background-color: rgb(212, 214, 176);
  }
.containerSets {
    margin: 5px;
    display: flex;
}
.cardSet {
    margin: 5px;
}