.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: auto;
}
.form {
    background-color: rgba(120, 146, 86, 0.199);
}
.inputForm{
    background-color: rgba(161, 226, 76, 0.288);    
}
.textRegis {
    display: flex;
    justify-content: center;
    
}